VITE_GOOGLE_CLIENT_ID=5317750734-9ssk6v5blidubvnm1g7e72nmr983qfis.apps.googleusercontent.com
VITE_GOOGLE_API_KEY=YOUR_GOOGLE_API_KEY
GITHUB_ISSUE_TOKEN=YOUR_GITHUB_FINE_GRAINED_TOKEN
GITHUB_ISSUE_REPO=kakita987/Shopkeeper-Companion
GITHUB_ISSUE_ASSET_PATH=support-uploads
GITHUB_ISSUE_ASSET_BRANCH=main
